* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 70rem;
}

main {
  background-color: #3c3c49;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}


body {
  font-family: Arial, sans-serif;
}

.quiz-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #4bcedd;
  border-radius: 10px;
  background-color: #c2c2c2;
}

.question-container {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #55616e;
  color: #ffffff;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  margin: 1rem;
}

.result-container {
  background-color: #ffffff;
  color: #fff;
  padding: 100px;
  border-radius: 5px;
  display: none;
}
