/*----------------------------------- barra de pesquisa ---------------------------------------------------------------*/
:root {
    --nav-background: linear-gradient(to top, #393939 0%, #000000 100%);
    --nav-border: .3rem solid #b9d1fd;
    }
   body{
    background-color: #000000;
   }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: var(--nav-border);
      background: var(--nav-background);
      font-size: 2rem;
      padding: 1rem;
      width: 100%;
      margin: -12px;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding-left: 200px;
    }
    
    nav li {
      display: inline-block;
      padding-right: 10px;
      transition: .3s;
    }  
    
     body{
      background-image: url(f35f757c-bbc1-479d-9078-c0aeebd6849d.jpg);
      background-size: cover;
      text-align: center;
    }
    
    /*----------------------------------------------------- botão ---------------------------------------------------*/

    nav li a::after {
      content: "";
      height: 2px;
      width: 0%;
      background-color: rgb(182, 247, 2);
      display: block;
      transition: 0.5s;
      margin: auto;
  }
  
  nav li a:hover::after {
      width: 100%;
  }
  
  button {
    font-size: 28px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 3%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 3s;
    transition-property: width, left;
  }